body{
    background-color: black;
    color: white;
}
.footer{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height:30px;
}
.footer-element{
    text-decoration: solid;
    
}
