<!DOCTYPE html>
<html>
    <head>
        <title>footer</title>
        <link rel="stylesheet" href="/styles/footer.css">
        
        
    </head>
    <body>
        <footer>
            <div class="footer">
                <div class="footer-element">
                    ©Kshitij Khande 2024
                </div>
            </div>
        </footer>
       
    </body>
</html>