<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <%- include('header.ejs')  %>
        <div class="intro">
            <div class="description">
                <h1 style="font-size: 50px; font-family: Arial, Helvetica, sans-serif;">Hi there, I'm Kshitij Khande</h1>

                <h3>FrontEnd Developer</h3>
                <h3 style="width: 600px;">I'm a frontend web developer with a passion for creating sleek and user-friendly interfaces.My journey into coding started with a love for problem-solving and design. Over the time, I've honed my skills in HTML, CSS, and JavaScript and React framework to build responsive and accessible websites. Explore my portfolio to see my latest projects and collaborations.

                </h3>
            </div>
            <div class="image">
                <img class="main-img" src="/public/images/imgmain.png">
            </div>
            

        </div>


        <!-- <%- include("footer.ejs") %> -->
    </body>
</html>