<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
        <link rel="stylesheet" href="/styles/projects.css">

    </head>
    <body>
        <%- include('header.ejs')  %>

        <div class="projects-page">
            <div class="project-button">
                <div class="project-img">
                    <img class="project-img-example" src="/public/images/to-do-list-home-page.png">
                </div>
                <div class="project-description">
                    <div class="p-heading">
                        <h1>To Do List</h1>
                        <h3>A To-Do-list website in which you can add your tasks and delete them according to your needs.</h3>
                        <div class="project-code">
                            <button class="code-link-button">
                                <a href="https://github.com/KshitijKhande/uminternship2024/tree/main/to-do-list" target="_blank">VIEW</a></button>
                        </div>
                    </div>
                   
                    
                </div>
            </div>


            <div class="project-button">
                <div class="project-img">
                    <img class="project-img-example" src="/public/images/calculator-home.png">
                </div>
                <div class="project-description">
                    <div class="p-heading">
                        <h1>Basic Calculator</h1>
                        <h3>Calculator which can be used for simple and basic arithmetic operations like addition,suntraction,division,multiplication.</h3>
                        <div class="project-code">
                            <button class="code-link-button">
                                <a href="https://github.com/KshitijKhande/uminternship2024/tree/main/basic-calculator" target="_blank">VIEW</a></button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
            
        <!-- <%- include("footer.ejs") %> -->
    </body>
</html>