<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/styles/skills.css">
    </head>
    <body>
        <%- include('header.ejs')  %>

        <div class="skills-page">
            <div class="education">
                <div class="edu-heading">
                    <h1>Education</h1>
                </div>
                <div class="edu-details">
                    <div class="edu-button">
                        <div class="sch-logo">
                            <img class="logo-img" src="https://www.bing.com/th?id=OIP.cGxOlp3qYYpeHuOv-lygcQHaHa&w=89&h=100&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2">
                        </div>
                        <div class="sch-info">
                            <div class="sch-name">
                                <div><h3>Delhi Public School, Nashik</h3></div>
                                <div><h5>2014-2020</h5></div>
                                
                                
                                
                            </div>
                            <div class="sch-program">
                                <div class="program-desc">High School</div>
                            </div>
                        </div>
                    </div>
                    <div class="edu-button">
                        <div class="sch-logo">
                            <img class="logo-img" src="https://th.bing.com/th?id=OIP.3cH57Esd7ttkws7nBZKQ8QAAAA&w=150&h=150&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2">
                        </div>
                        <div class="sch-info">
                            <div class="sch-name">
                                <div><h3>K.T.H.M College, Nashik</h3></div>
                                <div><h5>2020-2022</h5></div>
                                
                                
                                
                            </div>
                            <div class="sch-program">
                                <div class="program-desc">Junior College(Science-PCM)</div>
                            </div>
                        </div>
                    </div>
                    <div class="edu-button">
                        <div class="sch-logo">
                            <img class="logo-img" src="https://th.bing.com/th?id=OIP.Ca_TP_z_80SYiKfkHVQilgHaC6&w=350&h=137&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2">
                        </div>
                        <div class="sch-info">
                            <div class="sch-name">
                                <div><h3>D.Y.Patil University , Pune</h3></div>
                                <div><h5>2022-2026</h5></div>
                                
                                
                                
                            </div>
                            <div class="sch-program">
                                <div class="program-desc">Bachelor of Technology(CSE)</div>
                            </div>
                        </div>
                    </div>
    
                </div>
                
                
    
            </div>
            <div class="skills">
                <div class="skills-heading">
                    <h1>Skills</h1>
                </div>
                <div class="skills-details">
                    <div class="skills-buttons">
                        <div class="skills-name">FrontEnd Developer</div>
                        <div class="skills-language">
                            <div class="languages">
                                <p>Languages:</p>
                                <p>HTML 5</p>
                                <p>CSS</p>
                                <p>JAVASCRIPT</p>
                                <p>REACT JS</p>
                                <p>BOOTSTRAP</p>
                            </div>
                        </div>
                        <div class="certificate">
                            <button class="certificate-button">
                                <a class="certificate-link" href="https://www.udemy.com/certificate/UC-03923f1c-3d09-48aa-aebf-a0435eecdf96/">CERTIFICATE</a>
                            </button>
                                
                        </div> 
                    </div>

                    <div class="skills-buttons">
                        <div class="skills-name">FrontEnd Developer</div>
                        <div class="skills-language">
                            <div class="languages">
                                <p>Languages:</p>
                                <p>NODE JS</p>
                                <p>EXPRESS JS</p>
                                <p>EJS</p>
                                <p>SQL</p>
                                <p>POSTRE-SQL</p>
                            </div>
                        </div>
                        <div class="certificate">
                            <button class="certificate-button">
                                <a class="certificate-link" href="https://www.udemy.com/certificate/UC-03923f1c-3d09-48aa-aebf-a0435eecdf96/">CERTIFICATE</a>
                            </button>
                                
                        </div> 
                    </div>

                    <div class="skills-buttons">
                        <div class="skills-name">TABLEAU</div>
                        <div class="skills-language">
                            <div class="languages">
                                <p>Data Analysis</p>
                                <p>Data Visualization</p>
                                <p>Data Modelling</p>
                                <p>Data Organizattion</p>
                                
                            </div>
                        </div>
                        <div class="certificate">
                            <button class="certificate-button">
                                <a class="certificate-link" href="https://www.udemy.com/certificate/UC-c3a1bbba-aab2-4de7-9a18-b7cdc7d0ef71/">CERTIFICATE</a>
                            </button>
                                
                        </div> 
                    </div>
                    

                </div>
            </div>
            
        </div>

        <!-- <%- include("footer.ejs") %> -->
    </body>
</html>